<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1>Show History By Id</h1>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <%= history['id'] %> 
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>user_id </strong>  : <%= history['user_id'] %>  </li>
                    <li><strong>match_score_in_minutes </strong>  : <%= history['match_duration_in_minutes'] %>  </li>
                    <li><strong>match_score    </strong>  : <%= history['match_score'] %>  </li>
                    <li><strong>createdAt</strong>  : <%= history['createdAt'] %> </li>
                    <li><strong>updatedAt</strong>  : <%= history['updatedAt'] %> </li>
                </ul>
                <a href="/histories" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs'); %> 