<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1>Update History Form</h1>
    <% if (typeof errors != "undefined") { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %> </li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <div class="col-md-5">
        <form action="/histories/<%= history['id'] %>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="number" class="form-control" id="id" name="id" required value="<%= history['id'] %>" disabled>
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">user_id</label>
                <input type="text" class="form-control" id="user_id" name="user_id" value="<%= history['user_id'] %>" required disabled>
            </div>
            <div class="mb-3">
                <label for="match_duration_in_minutes" class="form-label">match_duration_in_minutes</label>
                <input type="number" class="form-control" id="match_duration_in_minutes" name="match_duration_in_minutes" value="<%= history['match_duration_in_minutes'] %>" required>
            </div>
            <div class="mb-3">
                <label for="match_score" class="form-label">match_score</label>
                <input type="number" class="form-control" id="match_score" name="match_score" value="<%= history['match_score'] %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs'); %> 