<%- include('./partials/header.ejs'); %> 
<%- include('./partials/navbar.ejs'); %> 
<div class="container">
    <div class="row">
        <h1><%= status %> </h1>
        <h2><%= message %></h2>
        <h4>Make sure the address is correct</h4>
    </div>
</div>
<%- include('./partials/footer.ejs'); %> 