<%- include('./partials/header.ejs'); %> 
<%- include('./partials/navbar.ejs'); %> 
<div class="my-5 d-flex align-items-center justify-content-center">
    <a type="button" class="btn btn-primary mx-3" href="/users?page=1&row=5">Get All Users Data</a>
    <a type="button" class="btn btn-primary mx-3" href="/profiles?page=1&row=5">Get All Profiles Data</a>
    <a type="button" class="btn btn-primary mx-3" href="/histories?page=1&row=5">Get All Histories Data</a>
</div>
<%- include('./partials/footer.ejs'); %> 