<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .decoration{
            width: 100%;
            height:100px;
            background-color: aqua;
            font-size: 3em;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="decoration"></div>
    <h4>This is your OTP</h4>
    <h2> <%= otp %> </h2>
    <h4>This otp only affect until 1 minutes from now </h4>
    <p>Never share this OTP to anyone else</p>
    <div class="decoration"></div>
</body>
</html>
